@media screen and (min-width: 810px) {
    div.code-editor {
        max-width: calc(50vw - 1.5rem);
    }
    div.io-area {
        max-width: calc(50vw - 1.5rem);
    }
}

@media screen and (max-width: 670px) {
    .hide-in-mobile {
        display: none !important;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Major Frameworks and Structures */

.main-control {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    border-bottom: solid 1px #CCC;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}

.control-btn-group {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.page-framework {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    box-sizing: border-box;
}

.main-ui-framework {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    flex-grow: 1;
}

.code-editor {
    flex-grow: 1;
    max-width: calc(100vw - 2rem);
    min-width: 20rem;
    height: 100%;
}

.ant-tabs-nav {
    margin-bottom: 0 !important;
}

.io-area {
    flex-grow: 1;
    max-width: calc(100vw - 2rem);
    min-width: 20rem;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 0 3vw 1rem 3vw;
    background-color: #3577C1;
    color: #EEEEEE;
}

footer a {
    cursor: pointer;
    color: #fffba8;
    text-decoration: underline;
}

ul > li {
    list-style: none;
    padding-bottom: 0.3rem;
}

footer > ul {
    margin: 1rem 0 0 0;
}

/* Editor Style */

.editor-tab-btn {
    margin-right: .5rem;
    font-size: 1.3rem;
    color: #52a3f9;
    border-radius: .3rem;
}

.editor-tab-btn:hover {
    background-color: #EEE;
}

.editor-tab-btn-disable {
    margin-right: .5rem;
    font-size: 1.3rem;
    color: #CCC;
    pointer-events: none;
}

.cm-gutter, .cm-gutters, .cm-scroller, .cm-editor {
    height: calc(100vh - 16rem);
    min-height: 20rem;
}
.cm-editor {
    overflow-x: auto;
}
.cm-content {
    cursor: text;
}
.cm-gutters { margin: 1px; }
.cm-scroller { overflow: auto; }
.cm-editor { border: 1px solid silver; border-radius: 0 0 0.3rem 0.3rem; }
.Í¼1.cm-editor.cm-focused { border: 1px solid #52a3f970; outline: none; }
.cm-execLine { background-color: #FDFF32;  }
.cm-lineNumbers > .cm-gutterElement { padding: 0 !important; }
.cm-foldPlaceholder { padding: 0 0.5rem; color: black; background: #EEEEEE; border: none; }

.active-href {
    color: #009dff;
    text-decoration: underline;
    cursor: pointer;
}

i.editor-load-hint {
    cursor: default;
}

/* IO Area */

pre#c0-output {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #202030;
    color: #eee;
    overflow: auto;
    margin: 0;

    flex-basis: 5rem;
    flex-grow: 1;
}

/* Buttons */

.base-btn {
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 0.3rem;
    cursor: pointer;
}

.implicit-btn {
    border: none;
    cursor: pointer;
    background: transparent;
}

.main-btn {
    color: #52a3f9;
    border: 1px solid #52a3f970;
}

.main-btn:hover {
    background: #52a3f910;
}

.success-btn {
    color: rgba(46, 125, 50);
    border: 1px solid rgba(46, 125, 50, 0.5);
}

.success-btn:hover {
    background: rgba(46, 125, 50, 0.1);
}

.danger-btn {
    color: rgba(211, 47, 47);
    border: 1px solid rgba(211, 47, 47, 0.5);
}

.danger-btn:hover {
    background: rgba(211, 47, 47, 0.1);
}

.disable-btn {
    color: #777;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.025);
    pointer-events: none;
}

/* UX Improvement */
.unselectable .cm-gutter, .cm-gutters, .base-btn, h3.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.clickable {
    cursor: pointer;
}

/* Debug */
.debug-console {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: start;
    align-content: flex-start;
    column-gap: 1rem;

    font-size: small;
    flex-grow: 1;
    flex-basis: 5rem;

    width: inherit !important;

    overflow: auto;
    padding: 1rem;
    border: 1px solid silver;
    border-radius: 0.3rem;
}

.debug-console-info {
    flex-grow: 1;
    flex-basis: 5rem;
    border: 1px solid silver;
    border-radius: 0.3rem;
}

.debug-console p {
    margin: 0.3rem 0 0.3rem 0;
}

.debug-console li p {
    margin: 0;
}

.debug-console li {
    margin: 0.3rem 0;
    padding: 0;
    list-style: none;
}

.debug-console ul {
    padding-left: 0.8rem;
    list-style: none;
    margin: 0 -0.6rem;
    border-left: 1px solid #006cae;
}

code {
    background-color: #EEE;
    box-sizing: content-box;
    padding: 3px;
    border-radius: 0.3rem;
    color: #ce1c1c;
}

.dbg-func-name {
    color: #006cae;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: medium;
    margin: 0.3rem 0 0.3rem 0;
}

.dbg-inlined {
    display: inline-block;
}

.dbg-evaluate-tabular-btn {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    vertical-align: top;
    display: inline-block;
}

.dbg-evaluate-tabular-content {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    vertical-align: top;
    display: inline-block;
}

p.dbg-error-information {
    color: #ce1c1c;
}

.dbg-extra-information {
    color: #bbbbbb;
}

li > p.dbg-evaluate-field-name {
    color: #006cae;
    display: inline-block;
    margin: 0;
}

li > .dbg-evaluate-tabular-content {
    display: inline-block;
    margin: 0;
}

.io-area h3 {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}


/* Graphical Debug Console */
.dbg-frame-node {
    border: 1px solid silver;
    min-width: 5rem;
    min-height: 2rem;
    padding: .3rem 1.5rem .3rem 1rem;
    border-radius: .3rem;
    background-color: #FEFEFE;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    align-content: flex-start;
    column-gap: 1rem;
    
    box-shadow: /* Generated at https://shadows.brumm.af/ */
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.007),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.011),
        100px 100px 80px rgba(0, 0, 0, 0.02);
}

.dbg-frame-content {
    max-width: 7rem;
    word-wrap: break-word;
}

.dbg-entire-row {
    grid-column-start: 1;
    grid-column-end: 3;
}
