#c0vm-root[data-mode="embeddable"] .page-framework {
    min-height: 35rem;
    margin: 1rem;
    border-radius: .3rem;
    border: solid 1px silver;
}

/* #c0vm-root[data-mode="embeddable"] footer {
    display: none;
} */

#c0vm-root[data-mode="embeddable"] div[data-lang="c0"] .cm-gutter, 
#c0vm-root[data-mode="embeddable"] div[data-lang="c0"] .cm-gutters,
#c0vm-root[data-mode="embeddable"] div[data-lang="c0"] .cm-scroller,
#c0vm-root[data-mode="embeddable"] div[data-lang="c0"] .cm-editor {
    height: 26rem;
    max-height: 26rem;
}

#c0vm-root[data-mode="embeddable"] .io-area h3 {
    margin-top: .3rem;
}

#c0vm-root[data-mode="embeddable"] div[data-lang="bc0"] .cm-gutter, 
#c0vm-root[data-mode="embeddable"] div[data-lang="bc0"] .cm-gutters,
#c0vm-root[data-mode="embeddable"] div[data-lang="bc0"] .cm-scroller,
#c0vm-root[data-mode="embeddable"] div[data-lang="bc0"] .cm-editor {
    height: 28rem;
    max-height: 28rem;
}

#c0vm-root[data-mode="embeddable"] h3 {
    font-size: 1rem;
}

#c0vm-root[data-mode="embeddable"] .main-control {
    position: relative;
    border-radius: .3rem .3rem 0 0;
}
